<a href="https://colab.research.google.com/github/GopikaDA/Python_coding_challenge/blob/main/Task_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# range, for loop, enumerate, list comprehension

In [10]:
import random
scores= [random.randint(0,100) for i in range(10)]
print(scores)
for index, score in enumerate(scores,start=1):
  print(f"The Marks are {index} = {score}")
above_average= []
for score in scores:
   if score > 75:
     above_average.append(score)
     total = sum(above_average)
     average= total/len(above_average)
print("marks Are above 75:",above_average)
print("The total mark is:",total)
print("the Average is :",average)

[68, 77, 65, 82, 34, 11, 1, 55, 90, 65]
The Marks are 1 = 68
The Marks are 2 = 77
The Marks are 3 = 65
The Marks are 4 = 82
The Marks are 5 = 34
The Marks are 6 = 11
The Marks are 7 = 1
The Marks are 8 = 55
The Marks are 9 = 90
The Marks are 10 = 65
marks Are above 75: [77, 82, 90]
The total mark is: 249
the Average is : 83.0

In [ ]:
# Employee Hours Report

li=0
for i in range(10):
  num= int(input("ENtetr the score:"))
  li += num
  average= li/10
print(average)
print(li)

ENtetr the score:79
ENtetr the score:88
ENtetr the score:87
ENtetr the score:86
ENtetr the score:90
ENtetr the score:88
ENtetr the score:0
ENtetr the score:98
ENtetr the score:77
ENtetr the score:86
77.9
779